@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Deployment Slot";
}


<div class="text-center">
    <h1 class="display-4">Testing deployment slot</h1>
    <h3>
       Validate the deployment slot feature
    </h3>
</div>